<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta name="msvalidate.01" content="30299F6BA945697D460AC878355373DE" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <meta name="version" content="2.2.1">
  <meta name="email" content="{{ shop.email }}">
  <meta name="role" content="{{ theme.role }}">
  <meta name="google-site-verification" content="z8Nq0nlhrdK8tAq_mjW-7s-hd5XOh0vtqwTBELVz3nA" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124221870-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124221870-1');
</script>

  <style>
  .adsbygoogle{
    display: none !important;
  }
</style>
  {% assign blog_keywords = "" %}
      {% if template contains "article" %} 
          {% for tag in article.tags %}
            {% if tag contains "keywords" %}
              {% assign blog_keywords = blog_keywords | append: tag %} 
            {% endif %}
          {% endfor %}
          {% assign blog_keywords = blog_keywords | replace: "|", ", " | replace: "keywords:" | "" | append: ','}}%} 
      {% else %}{% else %}
    {% assign blog_keywords = "babies" %}
  {% endif %}     
  {% if meta_description %}
    <meta name="description" content="{{meta_description}}">
    {% else %}
    <meta name="description" content="{{page.title}} - {{shop.name}}">
  {% endif %}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6018909884659133"
     crossorigin="anonymous"></script>

 <meta name="keywords" content="{{blog_keywords}}"/>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1164486976906720",
          enable_page_level_ads: true
     });
</script>
  
  <link rel="canonical" href="{{ canonical_url }}">
  
  <!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o0cgv');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
  
  <script type='text/javascript'>
  (function(win, doc, sdk_url){
  if(win.snaptr) return;
  var tr=win.snaptr=function(){
  tr.handleRequest? tr.handleRequest.apply(tr, arguments):tr.queue.push(arguments);
};
  tr.queue = [];
  var s='script';
  var new_script_section=doc.createElement(s);
  new_script_section.async=!0;
  new_script_section.src=sdk_url;
  var insert_pos=doc.getElementsByTagName(s)[0];
  insert_pos.parentNode.insertBefore(new_script_section, insert_pos);
})(window, document, 'https://sc-static.net/scevent.min.js');

  snaptr('init','22fa84f7-f13b-4a5e-880a-ff1bd39b70ef',{
  'user_email':'<USER-EMAIL>'
})
  snaptr('track','PAGE_VIEW') 
</script>

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>


  {% include 'social-meta-tags' %}
 

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'typo-color.scss.css' | asset_url | stylesheet_tag }}
    {% include 'google-fonts' %}
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
    <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}
  <script type="text/javascript">
   var sv = {{ 'products.product.on_save_like_price' | t | json }};var x = {{ 'products.product.on_save' | t | json  }}; var y = {{ 'general.newsletter_form.confirmation' | t | json }};{% if settings.show_multiple_currencies %}var currency_dropdown = true;{% if settings.select_dropdown == 'auto_currency' %}var auto_curncy = true;{% else %}var auto_curncy = false;{% endif %}{% else %}var currency_dropdown = false;{% endif %}{% if settings.show_saved_amount %}{% if settings.show_discount_amount == 'percent_save' %}var precentprice = true;{% else %}var precentprice = false;{% endif %}{% endif %}
   var addToCartBtnLabel_1 = {{ 'products.product.add_to_cart' | t | json }},addedToCartBtnLabe_1 = {{ "products.product.Thanks_you" | t | json }},addingToCartBtnLabel_1 = {{ "products.product.adding" | t | json }},soldOutBtnLabel_1 = {{ "products.product.sold_out" | t | json }};{% if template == 'product' or template == 'index'%}var relatedupsellmodal = true;{% else %}var relatedupsellmodal = false;{% endif %}var added_to_cart = {{ 'cart.general.added_to_cart' | t | json }};var view_cart = {{ "cart.general.view_cart" | t | json }};var continue_shopping = {{ "cart.general.continue_shopping" | t | json }};var items_count_one = {{ 'layout.cart.items_count.one' | t | json }};var items_count_other = {{ 'layout.cart.items_count.other' | t | json }};var read_more = {{ "products.timer.readmore" | t | json}};var read_less = {{ "products.timer.readless" | t | json}};var eblstcky = false;var ebl_pay_but = false;var read_mor = false;var visitorcountr = false;var livestock = false;var enable_defaul_variant = true;
  </script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if lte IE 9]><!--><script src="{{ 'theme.js' | asset_url }}"></script><!--><![endif]-->



  <!--  bootstrap js & css  -->
  <script src="{{ 'bootstrap.min.js' | asset_url }}"></script>
  <script>var mainShopDomain='{{shop.permanent_domain}}';</script>
  {{ 'shop.js' | asset_url | script_tag }}
 
  {{ 'fontawesome.css' | asset_url | stylesheet_tag }}
  
  {{ content_for_header }}
  <link href="https://fonts.googleapis.com/css?family=Anton|Arimo|Arvo|Baloo+Bhai|Baloo+Bhaina|Bitter|Bree+Serif|Cabin|Catamaran|David+Libre|Dosis|Droid+Sans|Droid+Serif|Ek+Mukta|Fjalla+One|Hind|Inconsolata|Indie+Flower|Lato|Libre+Baskerville|Lobster|Lora|Merriweather|Modak|Montserrat|Muli|Noto+Sans|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Narrow|PT+Serif|Pavanam|Playfair+Display|Poppins|Raleway|Roboto|Roboto+Condensed|Roboto+Slab|Slabo+27px|Source+Sans+Pro|Teko|Titillium+Web|Ubuntu|Yanone+Kaffeesatz|Yatra+One" rel="stylesheet">

  <style type="text/css"> .product-description + [data-readmore-toggle], .product-description[data-readmore]{display: block; width: 100%;margin-top: 15px;}.product-description[data-readmore]{transition: height 100ms;overflow-x: hidden !important;overflow: -webkit-paged-x;}</style>


  {% include 'judgeme_core' %}
<script>var scaaffCheck = false;</script>
{{ 'sca_affiliate.js' | asset_url | script_tag }}
</head>

<body class="template-{{ template | split: '.' | first }}">
<input type="hidden" id="product_key" value="{{ settings.product_key }}">
  <input type="hidden" id="permanent_domain" value="{{ shop.permanent_domain }}">
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  {% if settings.salepopup_position == 'top'%}
   {% include 'notification-popup' %}
  {% endif %}
  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          {% if settings.search_result == 'only_product'%}
          <input type="hidden" name="type" value="product">
          {% endif %}
          <input class="search__input search-bar__input" type="input" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6018909884659133"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="autorelaxed"
        data-ad-client="ca-pub-6018909884659133"
        data-ad-slot="5553688705"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


  <div class="page-container" id="PageContainer">
    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>
   <!-- Start discount popup -->  
  {% include 'discount_popup' %}    
  <!-- End discount popup -->
  {% if settings.salepopup_position == 'bottom'%} 
   {% include 'notification-popup' %}
  {% endif %}
  {{ 'timer_all.scss' | asset_url | stylesheet_tag }}
  {{ 'timer_new.scss' | asset_url | stylesheet_tag }}
  
  {% include 'currencies' %}

  <script type="text/javascript">
  var final1 = document.createElement("script");
                final1.src = '{{ 'new_theme.js' | asset_url }}';
                document.head.appendChild(final1);
  </script> 

{% include 'mps-buy-me' %}
{% comment %}This is for Volume Discount App by hulkapps{% endcomment %}{% include 'hulkcode_common' %}<!-- Delete the Beeketing script below after uninstalling Happy Messenger app to remove it from your theme. For more info, read here: https://bit.ly/hmesscode or contact us at hi@beeketing.com. --><!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END -->
{% include 'swymSnippet' %}

  {% include 'sumo' %}



<!-- Added by Sticky Cart by Uplinkly -->
{% include 'sticky-cart-by-uplinkly' %}

<!-- **BEGIN** Hextom USB Integration // Main Include - DO NOT MODIFY -->
    {% include 'hextom_usb_main' %}
    <!-- **END** Hextom USB Integration // Main Include - DO NOT MODIFY -->


{{ 'booster-page-speed-optimizer.js' | asset_url | script_tag }}

<!-- **BEGIN** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
    {% include 'hextom_spm_main' %}
    <!-- **END** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
</body>
</html>

